.DS_Store

*.tex
*.dvi
*.idx
*.aux
*.log
*.ind
*.ilg
*.out
*.pyc
*.zip
*.csv

*/*.o
*/*.d
*/*.asm
*/*.sym
*/_*

user/initcode
user/initcode.out
kernel/kernel
fs.img
mkfs/mkfs
.gdbinit
user/usys.S
$(UPROGS)

