# TeX files
*.tex
*.dvi
*.idx
*.aux
*.log
*.ind
*.ilg

# Object files, dependency files, assembly files, symbol files
*/*.o
*/*.d
*/*.asm
*/*.sym

# Specific files
$U/initcode
$U/initcode.out
$K/kernel
fs.img
mkfs/mkfs
.gdbinit
$U/usys.S

# UPROGS variable files
$(UPROGS)